.idea/
.venv/*
*.pyc

Assignment1/*
!Assignment1/regby.pl
!Assignment1/.vscode/
!Assignment1/README.md
!Assignment1/field_generator.py
!Assignment1/input.pl
!Assignment1/map.txt
!Assignment1/report.pdf
!Assignment1/tests


Assignment2/out/*/*
